<!-- purchase_select.html -->
<h1>Select Purchase to View</h1>
<ul>
    {% for purchase in purchases %}
    <li>
        <p>VM Name: {{ purchase.vm_name }}</p>
        <p>VM Cores: {{ purchase.vm_cores }}</p>
        <p>VM Memory: {{ purchase.vm_memory }}</p>
        <p>Disk Size: {{ purchase.disk_size }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="purchase_id" value="{{ purchase.id }}">
          // <button type="submit" name="action" value="confirm">Confirm</button>
          //  <button type="submit" name="action" value="deny">Deny</button>
            <button type="checkbox" name ="action">is Confirmed </button>
        </form>
    </li>
    {% endfor %}
</ul>
